<section>
  <h2>Highlights</h2>
  <ul id="recent_posts">
    <li class="post">
      <a href="/questions-to-ask-before-joining-a-startup/">Questions to ask before joining a startup</a>
    </li>

    <li class="post">
      <a href="/papertrail-joins-solarwinds-and-accelerates-growth/">Papertrail joins SolarWinds and accelerates growth</a>
    </li>

    <li class="post">
      <a href="/the-elements-of-a-great-customer-support-reply/">The elements of a great customer support reply</a>
    </li>
  </ul>
</section>
