<section>
  <h2>Highlights</h2>
  <ul id="recent_posts">
    <li class="post">
      <a href="/comment-on-how-do-i-stop-comparing-myself-to-others/">Comment on: How do I stop comparing myself to others?</a>
    </li>

    <li class="post">
      <a href="/the-elements-of-a-great-customer-support-reply/">The elements of a great customer support reply</a>
    </li>

    <li class="post">
      <a href="/towards-a-transparent-wireless-carrier-custom/">Towards a transparent wireless carrier customer dashboard</a>
    </li>
  </ul>
</section>
