<section>
  <h2>Highlights</h2>
  <ul id="recent_posts">
    <li class="post">
      <a href="/questions-to-ask-before-joining-a-startup/">Questions to ask before joining a startup</a>
    </li>

    <li class="post">
      <a href="/if-yelp-put-quality-above-quantity-dot-dot-dot/">If Yelp put quality above quantity…</a>
    </li>

    <li class="post">
      <a href="/the-elements-of-a-great-customer-support-reply/">The elements of a great customer support reply</a>
    </li>
  </ul>
</section>
