<section id="habit">

  <h2>Other</h2>

  <p><a target="_blank" href="http://simpleoptout.com/">SimpleOptOut.com</a></p>
  <p><a target="_blank" href="http://4680society.com/">4680 Society</a></p>
  <p><a target="_blank" href="http://sawsafely.org/">SawSafely.org</a></p>

  <br />

  <p><a target="_blank" href="https://twitter.com/PedalOften">@PedalOften</a></p>
  <p><a target="_blank" href="http://seattleix.com/">Seattle IX</a></p>
  <p><a target="_blank" href="https://github.com/troy" target="_blank">GitHub</a></p>
</section>
