// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  font-size: .75em;
  
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

// troy
section {
  border-top: 2px solid #444;
  margin-top: 20px;
  padding-top: 10px;
  h2 {
    color: #333;
    font: 600 1em $sans;
    letter-spacing: -1px;
    line-height: 1em;  
  }
}

p.credit span {
  font-size: 50%
}

ul#tweets {
  margin-bottom: -10px;
}

section#twitter {
  margin-bottom: -15px;
}

fieldset[role="search"] input {
  width: 8em;
  margin-top: -1em;
  margin-bottom: 1em;
}

div.entry-content ul {
  list-style: disc inside none;
}

div.entry-content ul li {
  padding-left: 1em;
}